<style media="screen">
  .school-title {
    font-size: 11.8pt;
    font-weight: 700;
  }
</style>
<!-- edcation section -->
<div class="row valign-wrapper">
  <div class="col s12">
    <div class="row">
      <div class="col s10">
        <span class="section-head">
          <i class="fa fa-university" aria-hidden="true"></i>
          Education
        </span>
        <div class="divider">

        </div>
        <!-- <h4>Education</h4> -->
      </div>
      <% if(self) { %>
      <div class="col s2">
          <a class="btn-floating btn-small teal modal-trigger smarty-edit" onclick="setModeEducation('add')" href="#educationModal">
          <i class="large material-icons">add</i>
        </a>
      </div>
      <% } %>
    </div>

    <% if(educations && educations.length > 0) { %>
      <% for(var i=0; i< educations.length; i++) { %>
        <div class="row" id="<%= educations[i]._id %>">
            <div class="col s12">
              <div class="school-title"><%= educations[i].title %>
                <% if (self === true) { %>
                <span>
                  <a href="#" onclick="editEducation('<%= educations[i]._id %>')">
                    <i class="material-icons editTitle">edit</i>
                  </a>
                </span>
                <span class="" onclick="deleteEducation('<%= educations[i]._id %>')">
                  <i class="fa fa-trash" area-hidden="true"></i>
                  <!-- <i class="material-icons">close</i> -->
                </span>
                <% } %>
              </div>
              <%= educations[i].institute %>
              <b>Duration :</b> <%
                var start = educations[i].start;
                start = new Date(start).getYear() + 1900;
                var end = educations[i].end;
                end = new Date(end).getYear() + 1900;
                 %><%= start %> - <%= end %>| <b>GPA:</b> <%= educations[i].grade %>
            </div>
        </div>
        <% } %>
    <% }else { %>
      <div class="row">
        <div class="col s12">
          <p>Please add at least one Educational Details</p>
        </div>
      </div>
    <% } %>
  </div>
</div>
<!-- end of edcation section -->
