<style media="screen">

  .section-head {
    font-size: 20pt;
  }
  .experience-title {
    font-size: 11.8pt;
    font-weight: 700;
  }
  .editTitle {
    font-size: 12pt;
    /*display: none;*/
  }
  .editTitle:hover {
    color: green;
    display: inline;
  }
</style>
<%
  function toYear(start, end) {
    var diff = end - start;
    var yearInMiliSecond = 1000 * 60 * 60 * 24 * 365;
    var result = Math.abs(diff) / yearInMiliSecond;
    result = Number(result.toPrecision(2));
    result = result.toPrecision(1);
    return result;
  }
%>
<!--start of experience section -->
<div class="row valign-wrapper">
  <div class="col s12">
    <div class="row">
      <div class="col s10">
        <span class="section-head"><i class="fa fa-briefcase" aria-hidden="true"></i>
          Experiences
        </span>
        <div class="divider">

        </div>
      </div>
      <div class="col s2">
        <% if (self === true) { %>
          <span> <a class="btn-floating btn-small teal modal-trigger smarty-edit" onclick="setMode('add')" href="#experienceModal">
            <!-- <span class="fa fa-edit smarty-edit"></span> -->
            <i class="large material-icons">add</i>
          </a></span>
        <% } %>
      </div>
    </div>
<% if (experiences && experiences.length > 0) { %>
    <% for(var i=0; i< experiences.length; i++) { %>
    <div class="row" id="<%= experiences[i]._id %>">
      <!-- <div class="col s12"> -->
        <div class="col s12">
          <div class="experience-title"> <%= experiences[i].title %>
            <% if (self === true) { %>
            <span>
              <a class="dsp" href="#" onclick="edit('<%= experiences[i]._id %>')">
                <i class="material-icons editTitle">edit</i>
              </a>
            </span>
            <span onclick="deleteExperience('<%= experiences[i]._id %>')">
              <i class="fa fa-trash"></i>
            </span>
            <% } %>
          </div>
        </div>
        <!-- <div class="row"> -->
          <div class="col s12">
            <% if(experiences[i].company !== null ) { %><%= experiences[i].company %><% } %>
              |  <%= toYear(experiences[i].start, experiences[i].end) %> Years
          </div>
        <!-- </div>
        <div class="row"> -->
          <div class="col s12">
            <% if(experiences[i].description !== null && experiences[i].description !== "" ) { %>
               <b>Description: </b>
              <%= experiences[i].description %>
            <% } %>
          </div>
          <div class="divider">

          </div>
        <!-- </div> -->
      <!-- </div> -->
    </div>
    <%  } %> <!--end of iteration-->
    <% } else { %>
      <div class="row">
        <div class="col s12">
          <p>Please add at least one Experience</p>
        </div>
      </div>
    <% } %>
  </div>
</div>
<span id="userid" style="display: none;"><%= user._id %></span>
<!-- end of experience-->
