<style media="screen">
  .nameData {
    font-size: 15pt;
    font-weight: bold;
    display: block;
  }
  .info {
    display: block;
    font-size: 8.8pt;
  }
  .info > .profession {

  }
  .info > .workingat {

  }
</style>
<div class="row">
  <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s12 m2 l2">
              <% include profileimage %>
            </div>
            <div class="col s12 m10 l10"> <!--personal information -->
              <% include profilename %>
            </div><!--perso-->
          </div>
        </div>
      </div>
</div>
