<style media="screen">

</style>
<div class="row">
  <div class="col s12 m12 l12">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s12">
              <!-- <div class="row"> -->
                <!-- <div class="col s10 m10 l10">
                  <h4>Overview</h4>
                </div> -->
                <!-- <div class="col s2 m2 l2"> -->
                  <!-- <span id="editIntro" class="fa fa-edit smarty-edit"></span> -->
                  <!-- <i class="large material-icons">mode_edit</i> -->
                  <!-- <div class="btn-floating btn-small teal smarty-edit">
                    <i id="editIntro" class="large material-icons">mode_edit</i>
                  </div> -->
                <!-- </div>
              </div> -->
              <div class="row">
                <div class="col s12 m2 l2">
                  <% include profileimage %>
                </div>
                <div class="col s10">
                  <% include profilename %>
                  <div class="row" id="introText">
                    <div class="col s10">
                      <span class="black-text" style="text-align: justify !important;">
                        <!-- <p style="text-align: justify;"> -->
                          <% if (profile.overview) { %>
                            <%= profile.overview %>
                            <% } else { %>
                              <p class="grey-text">
                                Put some information about you which describe you.
                              </p>
                            <% } %>
                        <!-- </p> -->
                      </span>
                    </div>
                    <% if (self === true) { %>
                    <div class="col s2">
                      <div class="btn-floating btn-small teal smarty-edit">
                        <i id="editIntro" class="large material-icons">mode_edit</i>
                      </div>
                    </div>
                    <% } %>
                  </div>
                  <% if (self === true ) { %>
                  <div class="card-panel" id="editText" style="display:none;">
                    <div class="row">
                      <div id="overviewMessage"></div>
                      <div class="input-field col s12">
                        <textarea class="materialize-textarea" maxlength="502" id="overview" name="overview" rows="8" cols="40" placeholder="Write something interesting about you. This section will describe your strength. "><% if (profile.overview) { %><%= profile.overview %><% } %></textarea>
                        <div class="textbox-word-count">
                          <span id="wordCount">0</span> / 500
                        </div>
                        <button type="button" class="waves-effect waves-light btn-large teal" id="saveOverview">Save</button>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
</div>






<script>
$(document).ready(function () {
  console.log("Rendering");
  $("#editText").hide();
  $("#editIntro").click(function () {
    $("#introText").hide(500);
    $(this).hide();
    $("#editText").show(600);
  });
  $("#wordCount").text($("#overview").val().length);
});
  $("#overview").keyup(function () {
    $("#wordCount").text($("#overview").val().length);
  });
  $("#overview").keydown(function () {
    $("#wordCount").text($("#overview").val().length);
  });
  $("#overview").keypress(function () {
    $("#wordCount").text($("#overview").val().length);
  });
  $("#saveOverview").click(function () {
    var overview = $("#overview").val();
    if (overview.length === 0) {
      $("#overviewMessage").text("Please write something before you save");
    }
    else if (overview.length > 0 && overview.length < 100) {
      $("#overviewMessage").text("Please write something more");
    } else {
      console.log("Request Sending");
      $("#overviewMessage").text("saving");
      var postData = {
        overview: overview
      };
      $.ajax({
        url: '/profile/overview',
        method: 'POST',
        data: postData,
        success: function (data) {

          console.log(data.success);
          if(data.success === true) {
            $("#overviewMessage").text("saving...");
            var clearthis = setInterval(function () {
              $("#overviewMessage").text("saving");
              $("#introText > div > span").html(overview);
              $("#introText").show(500);
              $("#editText").hide(600);
              $("#overviewMessage").text("");
              $("#editIntro").show();
              clearInterval(clearthis);
            },1000);
          }
          else {
            $("#overviewMessage").text("error");
          }
        }
      });


    }
  });
</script>
