<style media="screen">
  .nameData {
    font-size: 15pt;
    font-weight: bold;
    display: block;
  }
  .info {
    display: block;
    font-size: 8.8pt;
  }
  .info > .profession {

  }
  .info > .workingat {

  }
</style>
<div class="row"> <!-- name -->
  <div class="col s10 m10 l10" style="text-align: justify;">

    <span class="black-text" id="name">

      <span class="nameData">
<i class="material-icons red-text" title="This sign states that the profile is verified and informations are authentic">verified_user</i>
        <%= profile.name.firstname %> <%= profile.name.lastname %></span>
    </span>
    <div class="info">
      <span class="profession">Software Engineer</span>
      at <span class="workingat"><a href="#">Retrogradelab</a></span>
    </div>
  </div>
  <% if (self === true) { %>
  <div class="col s2 m2 l2"> <!--edit name control-->
    <span id="editName"> <a class="btn-floating btn-small teal modal-trigger smarty-edit" href="#modal1">
      <!-- <span class="fa fa-edit smarty-edit"></span> -->
      <i class="large material-icons">mode_edit</i>
    </a></span>
  </div><!--edit name control -->
  <% } %>
</div> <!--name -->
