<!--start of projects section -->
<div class="row valign-wrapper">
  <div class="col s12">
    <div class="row">
      <div class="col s10">
        <span class="section-head">
          <i class="fa fa-github" aria-hidden="true"></i>
          Projects
        </span>
        <div class="divider">

        </div>
      </div>
      <div class="col s2">
        <% if (self === true) { %>
          <span> <a class="btn-floating btn-small teal modal-trigger smarty-edit" onclick="setMode('add')" href="#projectModal">
            <!-- <span class="fa fa-edit smarty-edit"></span> -->
            <i class="large material-icons">add</i>
          </a></span>
        <% } %>
      </div>
    </div>

      <div class="row">
        <div class="col s12">
          <p>Please add at least one Experience</p>
        </div>
      </div>
  </div>
</div>
