
<!-- edcation section -->
<div class="row valign-wrapper">
  <div class="col s12">
    <div class="row">
      <div class="col s10">
        <span class="section-head"><i class="fa fa-cogs" aria-hidden="true"></i>
          Skills
        </span>
        <div class="divider">
        </div>
        <!-- <h4>Education</h4> -->
      </div>
      <% if(self) { %>
      <div class="col s2">
          <a class="btn-floating btn-small teal modal-trigger smarty-edit" onclick="setModeSkills('add')" href="#skillModal">
          <i class="large material-icons">add</i>
        </a>
      </div>
      <% } %>
    </div>

  <!-- iterator skills -->
    <div class="row">
        <div class="col s12" id="skillList">
          <% if (skills && skills.length > 0) { %>
            <% for(var i=0; i< skills.length; i++) { %>
            <span class="chip">
              <%= skills[i].title %>
              <% if(self) { %>
              <i class="material-icons" onclick="removeSkill('<%= skills[i]._id %>')">close</i>
              <% } %>
            </span>
            <% } %>
          <% } else { %>
            <p>
              Add some skills... It will increase your profile value
            </p>
          <% } %>
        </div>
    </div>
    <!-- end iterator -->
  </div>
</div>
<!-- end of edcation section -->

<script type="text/javascript">
  function removeSkill(id) {
    console.log(id);
    var formData = {
      id: id
    };
    $.ajax({
      url: '/users/skills',
      method: 'DELETE',
      data: formData,
      success: function(data) {
        console.log("Deleted");
      }
    });
  }
</script>
