<!-- <nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/admin">Admin site</a>
    </div>

    <div class="">
      <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/join">Join</a></li>
        <% } else { %>
          <li><a href="/admin"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></li>
          <li><a href="/profile/<%= user._id %>"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
          <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav> -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Admin Site</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
              <li><a href="/">Home</a></li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav in" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/dashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="/dashboard/institutes"><i class="fa fa-bar-chart-o fa-fw"></i> Institute<span class="fa arrow"></span></a>
                            <!-- /.nav-second-level -->
                        </li>


                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
