<footer class="page-footer">
          <!-- <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div> -->
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>




<!-- Modal Trigger -->


<% include modals/nameformmodal %>
<% include modals/uploadavatar %>
<% include modals/experience-modal %>
<% include modals/education-modal %>
<% include modals/skills-modal %>


<!-- <script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script> -->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>

<!-- <script href="/bower_components/Materialize/dist/js/materialize.min.js"></script> -->
<script type="text/javascript">

  $(document).ready(function () {
    $(".button-collapse").sideNav();
    console.log("Navbar called");
    $('select').material_select();
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 100 // Creates a dropdown of 15 years to control year
    });

    $("#email").val("");
    $("#password").val("");

$('.modal-trigger').leanModal();
  });
</script>

<script type="text/javascript">
  $("#nameChange").submit(function (event) {
    event.preventDefault();
    var formData = {
      firstname: $("#firstname").val(),
      lastname: $("#lastname").val()
    };
    $.ajax({
      url: '/profile/name',
      method: 'POST',
      data: formData,
      success:function () {
        // console.log(data);
        $('#modal1').closeModal();
        $(".nameData").text(formData.firstname + " "+ formData.lastname);
      }
    });

  });
</script>




<div id="imageId" style="display:none;">
  <% if(user) {%>
    <%= user.profile.avatar.url %>
  <% } %>
</div>
<!-- upload avatar-->

<script type="text/javascript">
function readFile(n){var r=new FileReader,t=$.Deferred(),e=t.promise();return r.onload=function(n){t.resolve(n.target.result)},r.onprogress=r.onloadstart=function(n){t.notify(n)},r.onerror=r.onabort=function(n){t.reject(n)},e.abort=function(){return r.abort.apply(r,arguments)},r.readAsBinaryString(n),e}function upload(n,r){var t=$.Deferred(),e=t.promise(),a=buildMultipart(r),o=$.ajax({url:n,data:a.data,processData:!1,type:"post",async:!0,contentType:"multipart/form-data; boundary="+a.bound,xhr:function(){var n=jQuery.ajaxSettings.xhr();return n.upload&&n.upload.addEventListener("progress",function(n){var r=0,e=n.loaded||n.position,a=n.total;n.lengthComputable&&(r=Math.ceil(e/a*100),t.notify(r))},!1),n}});return o.done(function(){t.resolve.apply(t,arguments)}).fail(function(){t.reject.apply(t,arguments)}),e.abort=function(){return o.abort.apply(o,arguments)},e}var buildMultipart=function(n){for(var r,t=[],e=!1;!e;){e=$.md5?$.md5((new Date).valueOf()):(new Date).valueOf();for(r in n)if(~n[r].indexOf(e)){e=!1;continue}}for(var r=0,a=n.length;a>r;r++)"string"!=typeof n[r].value?t.push("--"+e+'\r\nContent-Disposition: form-data; name="'+n[r].name+'"; filename="'+n[r].value[1]+'"\r\nContent-Type: application/octet-stream\r\nContent-Transfer-Encoding: binary\r\n\r\n'+n[r].value[0]):t.push("--"+e+'\r\nContent-Disposition: form-data; name="'+n[r].name+'"\r\n\r\n'+n[r].value);return{bound:e,data:t.join("\r\n")+"\r\n--"+e+"--"}};

</script>
<script>

    var imageUrl = $("#imageId").text();

$("#avatar").fileinput({
    overwriteInitial: true,
    maxFileSize: 1500,
    showClose: false,
    showCaption: false,
    browseLabel: '',
    removeLabel: '',
    browseIcon: '<i class="fa fa-folder-open"></i>',
    removeIcon: '<i class="fa fa-remove"></i>',
    removeTitle: 'Cancel or reset changes',
    elErrorContainer: '#kv-avatar-errors',
    msgErrorClass: 'alert alert-block alert-danger',
    defaultPreviewContent: '<img src="'+ imageUrl +'" alt="Your Avatar" style="width:160px">',
    layoutTemplates: {main2: '{preview} {remove} {browse}'},
    allowedFileExtensions: ["jpg", "png", "gif"]
});

//
$("#avatar")
.change(function () {
  console.log("Changes");
  $("#submitData").trigger('click');
});

// Variable to store your files
var files;

// Add events
// $('#avatar').on('change', prepareUpload);

// Grab the files and set them to our variable

// $("#uploadAvatarForm").submit(function (event) {
//   event.preventDefault();
//   var form = $("#uploadAvatarForm");
//   var $file = form.find("#avatar");
//   readFile($file[0].files[0]).done(function(fileData){
//      var formData = form.find(":input:not('#avatar')").serializeArray();
//      formData.file = [fileData, $file[0].files[0].name];
//      console.log(formData);
//      upload(form.attr("action"), formData).done(function(){ alert("successfully uploaded!"); });
//   });
// })

</script>

<script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    console.log("JQUERY");
    $(document).ready(function(){
      $('.parallax').parallax();
    });
    $("#nameForm input").prop("disabled", true);
    $("#nameForm button").hide();
    $("#nameForm")
    .dblclick(function (event) {
      $("#nameForm input").prop("disabled", false);
      $("#nameForm button").show();
    });

    $("#uploadAvatarForm").ajaxForm({
      beforeSend: function () {
        console.log("Sending...");
        $("#profileImage").attr("src", "/public/images/wait.gif");
      },
      uploadProgress: function (event , position, total, percentComplete) {
        console.log(percentComplete);
        $(".progress-bar").width(percentComplete+'%');
        $('.sr-only').html(percentComplete+'%');
      },
      success: function () {
        console.log("Done");
      },
      complete: function (response) {
        console.log("Completed..");
        // $("#profileImage").attr("src", JSON.parse(response.responseText).url);
        // console.log(response.responseText);
        $("#profileImage").attr("src", "/public/images/wait.gif");
        $('#uploadAvatar').closeModal();
        var x = setInterval(function () {
          clearInterval(x);
          $("#profileImage").attr("src", response.responseText);
        },2000);



      }
    });
    $("#uploadAvatarForm").on("submit", function (e) {
      e.preventDefault();
      $(this).ajaxSubmit();

    });
    $("#nameForm").hide();
    $("#nameSection").dblclick(function () {
      $("#nameForm").show();
      $(this).hide();
    });
    //end of name section
    //start of contact sectio
      $("#contactForm input").prop("disabled", false);
      $("#contactForm button").show();


    //end of contactForm

    $("#bdayForm input").prop("disabled", true);
    $("#bdayForm button").hide();
    $("#bdayForm")
    .dblclick(function (event) {
      $("#bdayForm input").prop("disabled", false);
      $("#bdayForm button").show();
    });
    var m = $("#bdayForm input").val();
    var date = new Date(m);
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var date = date.getDate();
    month = month < 10 ? "0" + month : month;
    date = date < 10 ? "0" + date : date;
    var display = year + "-"+ month + "-" + date;
    $("#bdayForm input").val(display);
  });
</script>


</body>

</html>
