<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- <script href="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/public/css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body class="blue-grey lighten-5">
