<!--
<div class="col-sm-6 col-sm-offset-3"> -->




<div class="row">
  <div class="col s12 m6 offset-m3 l6 offset-l3">
    <h1><span class="fa fa-sign-in"></span> Signup</h1>
    <!-- show any messages that come back with authentication -->
    <% if(message) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <div class="row">
        <form class="col s12" action="/join" method="post">
          <div class="row">
            <div class="input-field col s6">
              <input  id="first_name" name="firstname" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" name="lastname" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
                <label>Birthday</label>
                <input type="date" class="datepicker" id="birthday" name="birthday" required="true" required="true">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" class="validate" required="true">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" name="password" class="validate" required="true">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12">
                <select name="usertype" required="true">
                  <option value="" selected>Select One</option>
                  <option value="employee">Employee</option>
                  <option value="company">Company</option>
                </select>
                <label>Type</label>
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn">Join</button>
        </form>

        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
      </div>
  </div>
</div>

<script>

</script>
<!--end join form-->
