<!--Start login form -->
<!-- <form id="loginForm" action="/login" method="post">
  <div class="form-group">
    <input type="email" class="form-control" data-validation="email" required data-validation-help="Som help info..."  id="email" name="email" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" data-validation="password" required id="password" name="password" placeholder="Password">
  </div>
  <button class="btn btn-info" type="submit" name="login">Login</button>
</form> -->
<style media="screen">
  .social a{
    width: 100% !important;
  }

</style>

<!-- <div class="col-sm-6 col-sm-offset-3"> -->

    <div class="row">
      <div class="col s12 m6 l6 offset-m3 offset-l3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message != null) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
      </div>
    </div>

    <!-- LOGIN FORM -->
    <div class="row">
      <form class="col s12 m6 l6 offset-m3 offset-l3" action="/login" method="post" autocomplete="off">
          <div class="row">
            <div class="input-field col s12 ">

                <input type="email" class="validate" id="email" name="email" required="true" >
                <label>Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">

                <input type="password" class="validate" id="password" name="password" required="true">
                <label>Password</label>
            </div>
          </div>

          <button type="submit" class="btn waves-effect waves-light btn-large">Login</button>
      </form>
    </div>
    <div class="row">
      <div class="col s12 m6 l6 offset-m3 offset-l3">
        <div class="row social">
          <div class="col s12">
            <a class="btn deep-orange accent-3 btn-large" href="/auth/google" style="background: #F32E06 !important;">
              <i class="fa fa-google" aria-hidden="true"></i> | Join With Google</a>
          </div>
        </div>
        <div class="row social">
          <div class="col s12">
            <a class="btn light-blue darken-4 btn-large" style="background: #3F5999 !important;">
              <i class="fa fa-facebook"></i>
              | Login With Facebook
            </a>
          </div>
        </div>
        <div class="row social">
          <div class="col s12">
            <a class="btn light-blue accent-4 btn-large" style="background: #1C86BD !important;">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
              | Login With LinkedIn
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            You can also <a class="btn waves-effect" href="/join">Create</a> an account for free...
            <br>
            <br>
            <br>
            <a class="btn waves-effect" href="/">back to <i class="fa fa-home"></i></a>
          </div>
          </div>
        </div>
    </div>


<!-- </div> -->

<!--end login form-->
