<ul id="profile" class="dropdown-content">
  <li><a href="/profile">Profile</a></li>
  <li><a href="/">Random</a></li>
  <li class="divider"></li>
  <li><a href="/settings">Settings</a></li>
</ul>

<nav class="blue-grey lighten-2">
      <div class="container">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Smarty</a>

          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <% if (!user) { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/join">Join</a></li>
            <% } else { %>
              <!-- <li><a href="/app"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li> -->
              <% if (user.role === "employee") { %>
                <li><a href="/jobs">Jobs</a></li>
                <li><a class="dropdown-button" data-activates="profile" href="/profile">
                  Controllers<i class="material-icons right">arrow_drop_down</i>
                </a>
                </li>
              <% } else if(user.role === "company") { %>
                <li><a href="/bank/jobs">Job Bank</a></li>
                <li><a href="/company">Company</a></li>
              <% } else if(user.role === "admin") { %>
                <li><a href="/dashboard">Dashboard</a></li>
              <% } %>
              <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            <% } %>
          </ul>

          <ul class="side-nav" id="mobile-demo">
            <% if (!user) { %>
              <li><a href="/login">Login</a></li>
              <li><a href="/join">Join</a></li>
            <% } else { %>
              <li><a href="/app"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
              <% if (user.role == "employee") { %>
                <li><a href="/app/mycv">CV</a></li>
              <% } %>
              <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
            <% } %>

          </ul>
        </div>
      </div>
</nav>
