<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa"></span> Profile Name</h1>

    <!-- show any messages that come back with authentication -->
    {{#if message }}
        <div class="alert alert-danger">{{message}}</div>
    {{/if}}

    <!-- LOGIN FORM -->
    <form action="/profile/name" method="post">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstname" required="">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastname">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Change</button>
    </form>


</div>
