<% include partials/header %>
<% include partials/navigation %>
    <div  class="container" style="min-height:80%;">
      <%- body -%>
    </div>
    <script src="//code.jquery.com/jquery-2.1.2.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/public/css/main.css" media="screen" title="no title" charset="utf-8">
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
    <!-- <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8"> -->
    <link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<% include partials/footer %>
