<% if (user) { %>
<!-- Modal Structure -->
<div id="educationModal" class="modal">
  <div class="modal-content">
    <h4>Education</h4>
    <div class="row">
      <form class="col s12 m12 l12" id="educationForm" method="post">
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" name="title" id="educationTitle" value="" placeholder="Title">
            <!-- <label for="jobTitle">Title</label> -->
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" name="collegename" id="collegeName" value="" placeholder="College Name">
            <label for="companyName">College</label>
          </div>
        </div>
        <div class="row">
          <div class="col s4">
            <div class="col s12 input-field">
              <input type="text" name="cgpa" id="grade" value="" placeholder="Grade">
            </div>
          </div>
          <div class="col s8">
            <div class="col s6 input-field">
              <input type="text" name="start" pattern="(?:19|20)[0-9]{2}/(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" id="startEdu" value="" placeholder="Start Date">
              <!-- <label for="start">Start</label> -->
            </div>
            <div class="col s6 input-field">
              <input type="text" name="end" id="endEdu" pattern="(?:19|20)[0-9]{2}/(?:(?:0[1-9]|1[0-2])/(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" value="" placeholder="End Date">
              <!-- <label for="end">End</label> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <textarea name="description" class="materialize-textarea" id="descriptionEdu" rows="8" cols="40"></textarea>
            <label for="descrition">Description</label>
          </div>
        </div>
        <button type="submit" class="btn">Action</button>
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>


<% } %>
<script type="text/javascript">
var ModeEdu = 'add';
var currentId = '';
function setModeEducation(mode, id) {
  ModeEdu = mode;

}
  function editEducation(id) {
    currentId = id;
    console.log(id);
    setModeEducation('edit');
    $.ajax({
      url: '/users/education/'+currentId,
      method: 'GET',
      success: function (data) {
        console.log(data);
        $("#educationTitle").val(data.title);
        $("#collegeName").val(data.institute);
        var temp = new Date(data.start);
        $("#startEdu").val(temp.getFullYear()+"/"+ temp.getMonth()+ "/"+ temp.getDate());
        temp = new Date(data.end);
        $("#endEdu").val(temp.getFullYear()+"/"+ temp.getMonth()+ "/"+ temp.getDate());
        $("#descriptionEdu").val(data.description);
        $("#grade").val(data.grade);
        $("#educationModal").openModal();
      }
    });

  }

  $("#educationForm").submit(function (event) {
    event.preventDefault();
    var formData = {
      title: $("#educationTitle").val(),
      institute: $("#collegeName").val(),
      start: $("#startEdu").val(),
      end: $("#endEdu").val(),
      grade: $("#grade").val(),
      description: $("#descriptionEdu").val()
    };

    if(ModeEdu === 'add') {
      //do add
      $.ajax({
        url: '/users/educations',
        method: 'POST',
        data: formData,
        success: function (data) {
          console.log(data);
          $("#educationModal").closeModal();
          location.reload();
        }
      });
    }
    else {
      //do update
      formData._id = currentId;
      console.log(formData);
      $.ajax({
        url: '/users/educations',
        method: 'PUT',
        data: formData,
        success: function (data) {
          console.log(data);
          $("#educationModal").closeModal();
          location.reload();
        }
      });
    }
  });


  function deleteEducation(id) {
    var data = {
      id: id
    };
    var elemId = "#"+id;
    $.ajax({
      url: '/users/educations',
      method: 'DELETE',
      data: data,
      success: function (data) {
        console.log(data);
        $(elemId).hide();
        // location.reload();
      }
    });
  }
</script>
