<% if (user) { %>
<!-- Modal Structure -->
<div id="experienceModal" class="modal">
  <div class="modal-content">
    <h4>Employee</h4>
    <div class="row">
      <form class="col s12 m12 l12" id="jobForm" method="post">
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" name="title" id="jobTitle" value="" placeholder="Title">
            <!-- <label for="jobTitle">Title</label> -->
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" name="companyname" id="companyName" value="" placeholder="Company">
            <label for="companyName">Company</label>
          </div>
        </div>
        <div class="row">
          <div class="col s6 input-field">
            <input type="text" name="start" id="start" value="" placeholder="Start Date">
            <!-- <label for="start">Start</label> -->
          </div>
          <div class="col s6 input-field">
            <input type="text" name="end" id="end" value="" placeholder="End Date">
            <!-- <label for="end">End</label> -->
          </div>
        </div>
        <div class="row">
          <div class="col s12 input-field">
            <textarea name="description" class="materialize-textarea" id="description" rows="8" cols="40"></textarea>
            <label for="descrition">Description</label>
          </div>
        </div>
        <button type="submit" class="btn">Action</button>
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>


<% } %>
<script type="text/javascript">
var Mode = 'add';
var currentId = '';
function setMode(mode, id) {
  Mode = mode;

}
  function edit(id) {
    currentId = id;
    console.log(id);
    setMode('edit');
    $.ajax({
      url: '/users/experience/'+currentId,
      method: 'GET',
      success: function (data) {
        console.log(data);
        $("#jobTitle").val(data.title);
        $("#companyName").val(data.company);
        $("#start").val(data.start);
        $("#end").val(data.end);
        $("#description").val(data.description);
        $("#experienceModal").openModal();
      }
    });

  }

  $("#jobForm").submit(function (event) {
    event.preventDefault();
    var formData = {
      title: $("#jobTitle").val(),
      company: $("#companyName").val(),
      start: $("#start").val(),
      end: $("#end").val(),
      description: $("#description").val()
    };

    if(Mode === 'add') {
      //do add
      $.ajax({
        url: '/users/experiences',
        method: 'POST',
        data: formData,
        success: function (data) {
          console.log(data);
          $("#experienceModal").closeModal();
          location.reload();
        }
      });
    }
    else {
      //do update
      formData._id = currentId;
      console.log(formData);
      $.ajax({
        url: '/users/experiences',
        method: 'PUT',
        data: formData,
        success: function (data) {
          console.log(data);
          $("#experienceModal").closeModal();
          location.reload();
        }
      });
    }
  });

  function deleteExperience(id) {
    var data = {
      id: id
    };
    var elemId = "#"+id;
    $.ajax({
      url: '/users/experiences',
      method: 'DELETE',
      data: data,
      success: function (data) {
        console.log(data);
        $(elemId).hide();
      }
    });
  }
</script>
