<% if (user) { %>
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Change Name</h4>
    <div class="row">
      <form id="nameChange" class="col s12 m12 l12" id="nameChange" method="post">
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input type="text" name="firstname" id="firstname" value="<% if (user.profile.name.firstname) { %> <%= user.profile.name.firstname %> <% } %>">
              <label for="">Firstname </label>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="input-field">
              <input type="text" name="lastname" id="lastname" value="<% if (user.profile.name.lastname) { %> <%= user.profile.name.lastname %> <% } %>">
              <label for="">Lastname </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn">Update</button>
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
<% } %>
