<style media="screen">
  .modal {
    /*width: 500px !important;*/
    /*left: 25% !important;*/
    overflow: auto;
    overflow-x: visible;
    /*overflow-y: visible;*/
  }
</style>
<div id="pictureViewerModal" class="modal">
  <div class="modal-content">
    <div class="row">
      <img id="viewer" src="" alt="" />
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
