<% if (user) { %>
<!-- Modal Structure -->
<div id="skillModal" class="modal" onload="loadDepencies()">
  <div class="modal-content">
    <h4>Change Name</h4>
    <div class="row">
      <form id="addSkill" class="col s12 m12 l12" method="post">
        <div class="row">
          <div class="col s12 input-field">
            <input type="text" name="skill" value="" id="skill" placeholder="skill" required="true">
          </div>
        </div>
        <button type="submit" class="btn">Add</button>
      </form>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>
<% } %>

<script type="text/javascript">
function loadDependencies() {
  console.log("Loading");
    var options = {

    url: "/resources/countries",

    getValue: "name",

    list: {
      match: {
        enabled: true
      }
    },

    theme: "square"
  };

  $("#skill").easyAutocomplete(options);
}
  function setModeSkills(ad) {
    loadDependencies();
  }
  $("#addSkill").submit(function (event) {
    event.preventDefault();
    var formData = {
      skill: $("#skill").val()
    };
    $.ajax({
      url: '/users/skills',
      method:'POST',
      data: formData,
      success: function (data) {
        console.log(data);
        if(data._id) {
          var component = "<span class='chip'>"+
          data.title+
          "<i class=\"material-icons\" onclick=\"removeSkill('"+data._id+"')\">close</i>"+
        "</span>";
          $("#skillList").append(component);
          $("#skillModal").closeModal();
        }else {
          $("#skillModal").closeModal();
          alert("Duplicate SKill");
        }
      }
    });
  });
</script>
