<!-- Modal Structure -->
<style>
.kv-avatar .file-preview-frame,.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}
</style>

<div id="uploadAvatar" class="modal">
  <div class="modal-content">
    <h4>Avatar</h4>
    <div class="row">
      <!-- the avatar markup -->
      <div id="kv-avatar-errors" class="center-block" style="width:800px;display:none"></div>
      <form class="text-center" id="uploadAvatarForm" action="/profile/avatar" method="post" enctype="multipart/form-data">
          <div class="kv-avatar center-block" style="width:200px">
              <input id="avatar" name="avatar" type="file" class="file-loading">
          </div>
          <button type="submit hidden" style="display:none" name="button" id="submitData">Upload</button>
          <!-- include other inputs if needed and include a form submit (save) button -->
      </form>
      <!-- your server code `avatar_upload.php` will receive `$_FILES['avatar']` on form submission -->

      <!-- the fileinput plugin initialization -->
      <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div> -->
</div>

<script type="text/javascript">


</script>
