<%- layout('layout') -%>

<style media="screen">
  body {
    font-family: 'Amatic SC', cursive !important;
  }
</style>
<link rel="stylesheet" href="/bower_components/bootstrap-fileinput/css/fileinput.min.css" media="screen" title="no title" charset="utf-8">
<!-- <link rel="stylesheet" href="/bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css" media="screen" title="no title" charset="utf-8"> -->
<!-- <link rel="stylesheet" href="/bower_components/EasyAutocomplete/dist/easy-autocomplete.themes.min.css" media="screen" title="no title" charset="utf-8"> -->
<script src="/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js" charset="utf-8"></script>
<% if (profile !== null) { %>


  <% include ../partials/profile/overview %>
  <div class="divider">
  </div>

  <div class="row">
    <div class="col s12">
      <div class="card-panel grey lighten-5 z-depth-1">
          <% include ../partials/profile/experience %>

          <% include ../partials/profile/skills %>

          <% include ../partials/profile/education %>
          <% include ../partials/profile/projects %>

      </div>
    </div>
  </div>




<% } else {%>
  <div class="row">
    <div class="card">
      <h3>We are sorry, the profile you are searching for is not here</h3>
    </div>
  </div>
<% } %>
