<%- layout('layout') -%>

<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src="public/images/edu.jpg">
              <span class="card-title">Error</span>
            </div>
            <div class="card-content">
              <p>
                <%= error.message %>
              </p>
            </div>
            <div class="card-action">
              <a href="/">Go Back</a>
            </div>
          </div>
        </div>
      </div>
