<%- layout('layout') -%>
  <% if (!user) { %>
  <div class="" style="background-image: url('spublic/images/edu.jpg'); min-height: 80vh;">
    <!-- <div class="card col s12 m6 offset-m3 l6 offset-l3"> -->
      <% include ../partials/loginform %>
    <!-- </div> -->
  </div>
  <%} else {%>
    You are logged in
    <%= JSON.stringify(user) %>
  <% } %>
