<%- layout('layout') -%>

<div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-image">
            <img src="<%= user.profile.avatar.url %>">
            <span class="card-title teal"><%= user.profile.name.firstname %> <%= user.profile.name.lastname %></span>
          </div>
          <div class="card-content">
            <p>
              <form id="nameForm" action="/profile/name" method="post">
                <label for="">Name</label>
                <input type="text" name="firstname" id="firstname" value="<% if (profile.name.firstname) { %> <%= profile.name.firstname %> <% } %>">
                <input type="text" name="lastname" id="lastname" value="<% if (profile.name.lastname) { %><%= profile.name.lastname %> <% } %>">
                <button type="submit" name="button">OK</button>
              </form>
              <p id="nameSection">
                <label for="">Name : </label>
                <span><% if (profile.name.firstname) { %> <%= profile.name.firstname %> <% } %></span>
                &nbsp;
                <span><% if (profile.name.lastname) { %> <%= profile.name.lastname %> <% } %></span>
                <br>
              </p>
            </p>
            <!--end of name section -->
            <div class="divider"></div>
            <p>
              Contact: <br>
              <form id="contactForm" action="/profile/contact" method="post">
                <label for="address">Address: </label>
                <input type="text" name="address" id="address" value="<% if(profile.contact.address) { %><%= profile.contact.address %> <% } %>"><br>
                <label for="">Country</label>
                <input type="text" name="country" value="<%= profile.contact.country %>">
                <input type="hidden" name="lat" value="50.26">
                <input type="hidden" name="long"  value="93.01">
                <button type="submit" name="button">OK</button>
              </form>
              <label for="">Email</label><br>
              EMAIL: <%= user.local.email %>
              <input type="hidden" name="id" id="id" value="<%= user._id %>">
            </p>
            <!--end of contact address-->
            <div class="divider"></div>
            <p>
              Birthday: <br>
              <form id="bdayForm" action="/profile/birthday" method="post">
                <input class="form-control" type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name="birthday" value="<%= profile.birthday %>">
                <button type="submit" name="button">OK</button>
              </form>
            </p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
</div>

<!-- <div class="row">
  <div class="col-xs-9">
    <form id="nameForm" action="/profile/name" method="post">
      <label for="">Name</label>
      <input type="text" name="firstname" id="firstname" value="<% if (profile.name.firstname) { %> <%= profile.name.firstname %> <% } %>">
      <input type="text" name="lastname" id="lastname" value="<% if (profile.name.lastname) { %><%= profile.name.lastname %> <% } %>">
      <button type="submit" name="button">OK</button>
    </form>
    <p id="nameSection">
      <label for="">Name : </label>
      <span><% if (profile.name.firstname) { %> <%= profile.name.firstname %> <% } %></span>
      &nbsp;
      <span><% if (profile.name.lastname) { %> <%= profile.name.lastname %> <% } %></span>
      <br>
    </p>
  </div>
  <div class="col-xs-3">
    <img class="img-round" src="<%= profile.avatar %>" alt="" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Contact: <br>
    <form id="contactForm" action="/profile/contact" method="post">
      <label for="address">Address: </label>
      <input type="text" name="address" id="address" value="<% if(profile.contact.address) { %><%= profile.contact.address %> <% } %>"><br>
      <label for="">Country</label>
      <input type="text" name="country" value="<%= profile.contact.country %>">
      <input type="hidden" name="lat" value="50.26">
      <input type="hidden" name="long"  value="93.01">
      <button type="submit" name="button">OK</button>
    </form>
    <label for="">Email</label><br>
    EMAIL: <%= user.local.email %>
    <input type="hidden" name="id" id="id" value="<%= user._id %>">
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Birthday: <br>
    <form id="bdayForm" action="/profile/birthday" method="post">
      <input class="form-control" type="text" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" name="birthday" value="<%= profile.birthday %>">
      <button type="submit" name="button">OK</button>
    </form>
  </div>
</div> -->
