<%- layout('layout') -%>
<div class="row">
  <div class="col s12">
    <h3><span class="fa fa-cog"></span> Settings</h3>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="fa fa-user-secret" aria-hidden="true"></i> Username</div>
      <div class="collapsible-body">
        <p>
          <form id="username" action="index.html" method="post">
            <div class="row">
              <div class="col s12 m6 l6 offset-m3 offset-l3 input-field">
                <input type="text" name="username" id="username" value="" placeholder="Set Your Desired Username">
              </div>
              <button type="submit" name="button" class="btn btn-large">Set</button>

            </div>
          </form>
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-envelope" aria-hidden="true"></i> Email
      </div>
      <div class="collapsible-body">
        <p>
          Email: asmmehedihasan09@gmail.com
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="fa fa-location-arrow" aria-hidden="true"></i></i> Contact
      </div>
      <div class="collapsible-body">
        <div class="row">
          <div class="col s12 m6 l6 offset-m3 offset-l3">
            <div class="card">
              <div class="card-content">
                <!-- <p class="card"> -->
                <b>Street</b>: ES-05, Mirpur<br>
                <b>District</b> : Dhaka<br>
                <b>City</b> : Dhaka<br>
                <b>Country</b> : Bangladesh
                <!-- </p> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Password</div>
      <div class="collapsible-body">
        <p>
          <form id="username" action="/settings/password" method="post">
            <div class="row">
              <div class="col s12 m6 l6 offset-m3 offset-l3 input-field">
                <input type="password" name="username" id="previousPassword" value="" placeholder="Current Passport">
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 l6 offset-m3 offset-l3 input-field">
                <input type="password" name="username" id="newPassword" value="" placeholder="New Password">
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 l6 offset-m3 offset-l3 input-field">
                <input type="password" name="username" id="retypePassword" value="" placeholder="Re-Type Password">
              </div>
            </div>
            <div class="row">
              <div class="col s12 m6 l6 offset-m3 offset-l3 input-field">
                <button type="submit" name="button" class="btn btn-large">Update</button>
              </div>
            </div>
          </form>
        </p>
      </div>
    </li>

  </ul>
  </div>
</div>
