<%- layout('layout') -%>
<% if(error) { %>
<div class="row">
  <div class="col s12">
    <%= error.errMsg %>
  </div>
</div>
<% } %>
<div class="row">
  <div class="col s12 m12 l12">
    <h4>Start Creating A company Profile</h4>
    <form action="" method="post" autocomplete="off">
      <div class="input-field">
        <label for="">Company Name</label>
        <input type="text" name="name" value="" id="companyName" required="true">
      </div>
      <div class="input-field">
        <!-- <label for="">Smart URL</label> -->
        <input type="text" name="smarturl" value="" id="smartUrl" placeholder="Smar Url" readonly="true" disabled>
      </div>
      <button type="submit" class="btn" >Next</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  $("#companyName")
  .keyup(function (event) {
    // console.log("Writting..");
    var str = $("#companyName").val();
    var processedStr = str.toLowerCase() ;
    var splits = str.split(" ");
    if(splits.length >= 2) {
      processedStr = splits[0].toLowerCase() + splits[1].toLowerCase();
    }
    // processedStr = split.toLowerCase();
    // processedStr = processedStr.substring(0,15) + ".smarty"
    // console.log(processedStr);
    $("#smartUrl").val(processedStr + ".smarty" );
  });
</script>
