<%- layout('layout') -%>
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s12 m2 l2">
            <% include logo %>
          </div>
          <div class="col s12 m10 l10">
            <form action="/companies/name" method="post">
              <div class="input-field">
                <label for="companyName">Your Company Name</label>
                <input type="text" name="name" value="<% if(company) { %> <%= company.name %> <% } %>" id="companyName">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
