<style media="screen">
  .profile-image {

  }
  .profile-image span {
    position: absolute;
    width: 50px;
    height: 50px;
    float: right;

  }
  .absolute {
    position: absolute;
  }
  #profileImage {
    width: 200px;
  }
</style>

<a class="btn-floating modal-trigger absolute" href="#uploadAvatar">
  <!-- <span class="fa fa-camera" aria-hidden="true"></span> -->
  <i class="material-icons">perm_camera_mic</i>
</a>

<div class="profile-image">

  <img id="profileImage" src="<% if(company.logo) { %><%= company.logo.url %><% } %>" alt="" class="responsive-img"> <!-- notice the "circle" class -->
</div>

<script type="text/javascript">
  $("#profileImage").click(function () {
    $("#viewer").attr("src", $("#profileImage").attr("src"));
    $("#pictureViewerModal").openModal();
  });
</script>
