<%- layout('layout') -%>

<div class="row">
  <div class="col s12">
    <br>
    <a href="/company/create" class="btn wave">Start Creating</a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="divider">
    </div>
  </div>
</div>
<!-- Listing the companies -->
<div class="row">
  <div class="col s12">
    <p>
      0 Companies Created
    </p>
  </div>
</div>
