<%- layout('layout') -%>

<div class="row">
  <div class="col s12 m12 l12">
    <h4>Jobs Posted</h4>
    <a class="btn wave" href="/bank/job">Post a Job</a>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <hr>
  </div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    0 Jobs posted
  </div>
</div>
