<%- layout('layout') -%>

<div class="row">
  <div class="col s12 m12 l12">
    <h4>Posting a job is easier than ever</h4>
    <form action="/bank/job" method="post">
      <div class="input-field">
        <input type="text" name="title" value="" id="title" required>
        <label for="title">Job Title</label>
      </div>
      <div class="input-field">
        <input type="text" name="category"  value="" id="category" required>
        <label for="title">Category</label>
      </div>
      <div class="input-field">
        <textarea class="materialize-textarea" name="description" value="" id="description" required></textarea>
        <label for="title">Description</label>
      </div>
    </form>
  </div>
</div>
