<%- layout('admin') -%>

<div class="row">
  <div class="col-xs-12">
    <form id="instituteForm" action="/dashboard/institutes" method="post">
      <div class="form-group">
        <input class="form-control" type="text" name="name" id="name" value="" required placeholder="Institute Name">
        <br><button class="btn btn-success" type="submit">Save</button>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
  $("#instituteForm").submit(function (event) {
    event.preventDefault();
    var formData = {
      name: $("#name").val()
    }
    $.ajax({
      url: '/dashboard/institutes',
      method: 'POST',
      data: formData,
      success: function (data) {
        if(data) {
          var tr = "<tr><td>"+ data._id + "</td><td>"+ data.name + "</td></tr>";
          $("#tbody").append(tr);
          $("#name").val("");
        }
      }
    });
  });
</script>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-responsive table-striped">
      <thead>
        <tr>
          <th>
            Id
          </th>
          <th>
            Name
          </th>
        </tr>
      </thead>
      <tbody id="tbody">
        <% for(var i=0;i< institutes.length; i++) {%>
          <tr>
            <td>
              <%= institutes[i]._id %>
            </td>
            <td>
              <%= institutes[i].name %>
            </td>
          </tr>
        <%}%>
      </tbody>
    </table>
  </div>
</div>
